* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
/* start header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}
li {
  cursor: pointer;
  background-color: #12557a;
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
  display: flex;
  column-gap: 5px;
  user-select: none;
}
.nav li i {
  transition: all 0.3s;
}
li:hover i {
  color: black;
}
@media (max-width: 760px) {
  header {
    justify-content: space-around;
    position: relative;
    padding-bottom: 0;
  }
  .nav {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.loginPage h4,
.signUpPage h4,
h4 {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  font-style: italic;
  font-weight: 600;
}
.container h4,
header h4 {
  color: #12557a;
}
/* end header  */
/* start sign in and sign up  */
.loginPage,
.signUpPage {
  background-color: #12557a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  row-gap: 10px;
}

label {
  font-size: 30px;
  font-style: italic;
  color: aliceblue;
}
.password {
  padding: 20px;
  font-size: 20px;
  outline: none;
}
.btn {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #020b0f;
  color: aliceblue;
  border: none;
}
/* end sign in and sign up  */

.note-creator,
.note-updater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  row-gap: 10px;
  transition: all 0.3s;
}
.note-creator {
  scale: 0;
  display: none;
  margin-top: 20px;
}
.show-note-creator {
  display: flex;
  scale: 1;
}
.note-title-input {
  width: 70%;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
}
.note-updater {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #001f30;
  width: 100%;
  transition: all 0.3s;
  height: 100vh;
  justify-content: center;
}

.show-note-updater {
  top: -200%;
}
.note-updater h3 {
  color: white;
}
.user-input,
.note-edit-input {
  padding: 15px 20px;
  width: 70%;
  border: none;
  outline: 1px rgb(34, 29, 29) solid;
  font-size: 20px;
  border-radius: 5px;
  caret-color: rgb(0, 0, 0);
  background-color: rgb(212, 212, 212);
  color: black;
}
.note-edit-input {
  width: 90%;
}
.user-input:focus-visible,
.note-edit-input:focus-visible {
  background-color: white;
  outline: 3px solid #160e0e;
}
.note-title-edit-input {
  padding: 10px;
  font-size: 20px;
  width: 90%;
  border-radius: 10px;
  outline: none;
}
.saveBtn,
.updateBtn {
  padding: 10px;
  background-color: #12557a;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 19px;
  box-shadow: #000e1a -2px 4px;
}
.saveBtn:hover,
.updateBtn:hover {
  box-shadow: #000000 4px -4px 0px;
}
.container {
  padding: 20px 0;
  min-height: 70vh;
  margin-top: 40px;
}
h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  user-select: none;
  color: #12557a;
}
.notes,
.fake-notes {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  row-gap: 35px;
}
.show-fake-notes {
  display: flex !important;
}
.note,
.fake-note {
  background-color: #00695c;
  color: rgb(255, 255, 255);
  width: 90%;
  min-height: 100px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  position: relative;
}
h5 {
  font-size: 25px;
  position: relative;
  margin-bottom: 20px;
}
h5::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(90, 92, 92);
}
.removeIcon {
  position: absolute;
  color: white;
  background-color: #00695c;
  top: -24px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.removeIcon:hover,
.editIcon:hover {
  color: #ffeb3b;
}
.editIcon {
  background-color: #00695c;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: 45px;
  font-size: 25px;
}

.date {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: whitesmoke;
}

.deleted-notes {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #004b7e;
  z-index: 10;
  padding: 10px;
  display: none;
}
.deleted-notes h3 {
  color: #ffffff;
}
.deleted-container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
  margin-top: 40px;
}
.deleted-note {
  background-color: rgb(0, 197, 148);
  width: 90%;
  min-height: 80px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  position: relative;
}
.deleted-note .restore {
  position: absolute;
  color: black;
  background-color: rgb(0, 197, 148);
  top: -24px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}
.deleted-note .remove-forever {
  background-color: rgb(0, 197, 148);
  color: red;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: 50px;
  font-size: 20px;
}
.remove-forever:hover{
  color: white;
}
.restore:hover{
  color: white;
}
.home-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.home-btn i:hover {
  color: rgb(0, 0, 0);
}
.delete-all {
  display: flex;
  justify-content: center;
}
.delete-all span {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.delete-all span:hover {
  color: black;
  background-color: #ffffff;
}
