* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.loginPage,
.signUpPage {
  background-color: #12557a;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  row-gap: 10px;
}
label {
  font-size: 30px;
  font-style: italic;
  color: aliceblue;
}
.password {
  padding: 20px;
  font-size: 20px;
  outline: none;
}
.btn {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #020b0f;
  color: aliceblue;
  border: none;
}
.note-creator,
.note-updater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  row-gap: 10px;
}
.note-updater {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #12557a;
  width: 100%;
  transition: all 0.3s;
  height: 40vh;
  justify-content: center;
}
.note-updater::before {
  content: "";
  width: 100%;
  height: 135%;
  background: #c1000000;
  display: block;
  position: absolute;
  bottom: -135%;
}

.show-note-updater {
  top: -100%;
}
.user-input,
.note-edit-input {
  padding: 15px 20px;
  width: 70%;
  border: none;
  outline: 1px rgb(34, 29, 29) solid;
  font-size: 20px;
  border-radius: 5px;
  caret-color: rgb(255, 255, 255);
  background-color: rgb(80, 76, 76);
  color: rgb(0, 255, 85);
}
.user-input:focus-visible,
.note-edit-input:focus-visible {
  background-color: white;
  caret-color: rgb(255, 0, 0);
  outline: 3px solid #160e0e;
}
.saveBtn,
.updateBtn {
  padding: 10px;
  background-color: rgb(0, 255, 85);
  color: black;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 19px;
  box-shadow: #000e1a -2px 4px;
}
.saveBtn:hover,
.updateBtn:hover {
  box-shadow: #000000 4px -4px 0px;
}
.container {
  padding: 20px 0;
  min-height: 70vh;
}
h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  user-select: none;
}
.notes,
.fake-notes {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  row-gap: 35px;
}
.show-fake-notes {
  display: flex !important;
}
.note,
.fake-note {
  background-color: rgb(201, 51, 51);
  width: 90%;
  min-height: 80px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  position: relative;
}
.removeIcon {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 51, 51);
  top: -24px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
}
.removeIcon:hover,
.editIcon:hover {
  color: rgb(0, 0, 0);
}
.editIcon {
  z-index: 3;
  background-color: rgb(201, 51, 51);
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: 45px;
  font-size: 25px;
}
footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: #00314b;
}
footer a {
  text-decoration: none;
  color: #12557a;
}
h4 {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  font-style: italic;
  font-weight: 600;
}
.date {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: rgb(0, 0, 0);
}
.sort-btn {
  display: none;
  justify-content: center;
  color: #615f0a;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 25px;
}
.deleted-notes {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #615f0a;
  z-index: 10;
  padding: 10px;
  display: none;
}
.deleted-notes h3 {
  color: #790000;
}
.deleted-container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  align-items: center;
}
.deleted-note {
  background-color: rgb(201, 51, 51);
  width: 90%;
  min-height: 80px;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  word-wrap: break-word;
  position: relative;
}
.deleted-note .restore {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 51, 51);
  top: -24px;
  right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}
.deleted-note .remove-forever {
  background-color: rgb(201, 51, 51);
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: -24px;
  right: 50px;
  font-size: 20px;
}
.recycle-bin {
  display: none;
  justify-content: center;
  color: #b60000;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 25px;
  column-gap: 5px;
}
.home-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.home-btn:hover {
  color: rgb(0, 0, 0);
}
